body {
  background-image: url("lpbackground.jpg");
  image-size: cover;
  background-color: powderblue;
}
h1 {
  color: blue;
}
h1.monkey{
  font-style: italic;
  color: red;
}
p {
  color: red;
}
#p01 {
  font-size: 25px;
}
